
/* Home page styling */

#home-container{
  border: white solid 0.5px;
  /* border: yellow solid 3px; */
  background-image: url("./images/cocktail.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100vw;
  height: 732px;
  /* height: 100vh; */
  margin: 0;
  text-align: center

}

#Lorem-ipsum-dolor-am {
  display: flex;
  /* border: yellow solid 3px; */
  display: flex;
  margin-top: 4rem;
  margin-left: 6.5rem;
  text-align: left;
  max-width: 550px;
  min-width: 300px;
  height: 156px;
  font-family: sans-serif;
  font-size: 57px;
  font-weight: light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.04px;
  color: #ffffff;
  opacity: 0.8
}

#Lorem-ipsum-dolor-si {
  display: flex;
  /* border: yellow solid 3px; */
  display: flex;
  margin-top: 4rem;
  margin-left: 6.5rem;
  text-align: left;
  max-width: 500px;
  min-width: 300px;
  height: 107px;
  font-family: Philosopher;
  font-size: 24px;
  font-weight: light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: 0.01px;
  color: #ffffff;
  opacity: 0.7
}

#button-box {
  /* border: yellow solid 3px; */
  min-width: 300px;
  display: flex;
  text-align: left;
  margin-top: 2rem;
  margin-left: 7rem;
}

#home-button {
  border-radius: 05.5px;
  font-family: Philosopher;
  font-size: 18px;
  background-color: white;
  width: 150px;
  font-style: philosopher;
  transition: all 0.2s ease-in-out;
  height:50px;
}

#home-button:hover {
  transform: scale(1.1);
  color: black;
  border: 3px solid #AB0000;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #AB0000;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list {
  width: 130px;
  height: 34px;
  margin-top: 2.7rem;
  font-family: 'Philosopher', sans-serif;
  }

  /* random drink page */

  .random-container{
    margin-top:-1rem;
    /* border: red solid 5spx; */
    display: block;
    font-family: 'Cinzel', serif;
    background-image:  url("./images/bar-drinks.jpeg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
  }

  /* #random-title  */
    /* margin-top: rem; */
    /* text-align: center;
    color: white;
    margin: 5rem */
  /* */

  #random-image {
  /* border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px; */
    /* border: white solid 3px; */
  }

  .tester {
    padding: 1px;
    height: 75px;
  }
  .rand-ins {
    color: white;
  }
