/* Home page styling */

#home-container {
  border: white solid 0.5px;
  background-image: url('./images/cocktail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 732px;
  /* height: 100vh; */
  margin: 0;
  text-align: center;
}

body {
  margin: 0%;
}

#Lorem-ipsum-dolor-am {
  text-shadow: grey 1px 2px 2px;
  display: flex;
  display: flex;
  margin-top: 4rem;
  margin-left: 6.5rem;
  text-align: left;
  max-width: 600px;
  min-width: 350px;
  height: 156px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  font-weight: light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.04px;
  color: #ffffff;
  opacity: 0.8;
  /* overflow-anchor:  */
}

#Lorem-ipsum-dolor-si {
  display: flex;
  display: flex;
  margin-top: 4rem;
  margin-left: 6.5rem;
  text-align: left;
  max-width: 500px;
  min-width: 300px;
  height: 107px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: 0.01px;
  color: white;
  opacity: 0.7;
}

#button-box {
  min-width: 300px;
  display: flex;
  text-align: left;
  margin-top: 2rem;
  margin-left: 7rem;
}

#home-button {
  border-radius: 20px;
  margin-top: 2rem;
  font-family: 'Raleway';
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 18px;
  width: 130px;
  font-style: codropsicons;
  height: 30px;
}

#home-button:hover {
  transform: scale(1.1);
  color: black;
  border: 3px solid #ab0000;
}
