/* Home page styling */

#home-container {
  border: white solid 0.5px;
  background-image: url('./images/cocktail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 732px;
  margin: 0;
  text-align: center;
}

body {
  margin: 0%;
}

#Lorem-ipsum-dolor-am {
  text-shadow: grey 1px 2px 2px;
  display: flex;
  display: flex;
  margin-top: 10rem;
  margin-left: 5rem;
  text-align: left;
  max-width: 450px;
  min-width: 350px;
  height: 156px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 45px;
  font-weight: light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.04px;
  color: #ffffff;
  opacity: 0.8;
  /* overflow-anchor:  */
}

#Lorem-ipsum-dolor-si {
  display: flex;
  display: flex;
  margin-top: 7rem;
  margin-left: 5rem;
  text-align: left;
  max-width: 400px;
  min-width: 300px;
  height: 107px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: 0.01px;
  color: white;
  opacity: 0.7;
}

#button-box {
  min-width: 300px;
  display: flex;
  text-align: left;
  margin-top: 1rem;
  margin-left: 5rem;
  outline: none;
}

#home-button {
  border-radius: 20px;
  /* margin-left:1rem; */
  margin-top: 2rem;
  font-family: 'Raleway';
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 18px;
  width: 130px;
  font-style: codropsicons;
  height: 30px;
}

#home-button:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: #ff0000;
  border: 0.7px solid white;
}

@media only screen and (max-width: 600px) {

  #Lorem-ipsum-dolor-am {
    margin-right: 2rem;

  #Lorem-ipsum-dolor-si{
    background-color: red;
    margin-right: 3rem;

  }

  }
}


