body {
  margin: 0;
  text-align: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 1rem;
}

a {
  color: blue;
  text-decoration: none;
}

a.active{
  color: red;
}