/* body {
  margin: 0;
  padding: 0;
} */
nav {
  /* border: green solid 5px; */
  width: 100vw;
  position: fixed;
  /* opacity: 0.78; */
}

.nav-item {
  font-size: 24px;
  color: white;
  padding: 13px

}

#search {
  display: grid;
  place-items: center;
}
#DrinkResults {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 25px 0;
  padding: 5px;
  /* background-color: rgb(241, 241, 241); */
  /* border: 2px solid black; */
  /* border-radius: 25px; */
}

.Drink {
  display: grid;
  place-items: center;
  margin: 5px;
  position: relative;
  text-align: center;
  color: white;
}
.Drink h4 {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  padding: 2px 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.Drink img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
#input-wrapper {
  display: flex;
}
.inputs {
  margin: 5px;
  padding: 5px;
  display: flex;
}

#submit {
  width: 50px;
  display: block;
  margin: 10px auto;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 50px 0 20px;
}

h2 span {
  background: #f9f7f6;
  padding: 0 10px;
  font-family: 'Julius Sans One', sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  height: 122px;
  opacity: 0.8;
  background-color: #ab0000;
}

nav ul li {
  width: auto;
  margin-top: 4rem;
  /* background-color: yellow; */
  font-family: 'Philosopher', sans-serif;
  font-size:40px;
  padding: 0px

}

#drink1 {
  height: 87px;
  width: 87px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

#drink1:hover {
  transform: scale(1.1);
  border: 2px solid #ab0000;
  
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

a.active {
  color: white;
}

input {
  /* height: 100px; */
  line-height: 50px;
  width: 40rem;
}

input[type='text'] {
  padding: 60px 30px;
  line-height: 28px;
}
