.submit button {
  width: 100px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
  background: #353535;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.submit button:hover {
  background-color: #ec3723;
}
