.myDrink {
  background-image: url('../images/bar-drinks2.jpg');
  background-size: cover;
  background-image: repeat;
  display: grid;
  height: 100vh;
}

/* h3 {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.1em;
  margin-left: 55px;
  margin-top: 40px;
} */

.container {
  font-family: 'Philosopher', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.myDrink2 {
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 15px;
}

/* h1 { 
  margin-top: 5.0rem;
  text-align: center;
  border: none;
  padding: 3px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
} */

/* .drink {
  display: flex;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0rem;
  text-align: center;
  place-items: center auto;
  border-radius: 40;
} */

.container-drink {
  place-items: center;
  height: 100%;
  width: 100px;
  font-family: 'Philosopher', sans-serif;
}


/* .drink{
  height: auto;
  width: 50px;
  font-family: 'Philosopher', sans-serif;
} */

/* .drinkPhoto {
  margin-top: 0;
  margin-bottom: 50px;
} */

.myDrinkpic {
 display: grid;
 text-align: center;
 grid-template-columns: 0.75fr 0.75fr;
 place-items: center auto;
 width: 1000px;
 margin: 50px auto;
 padding: 5rem;
 background: rgba(71, 68, 68, 0.8);
}

.myDrinkpic img {
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 80px;
  height: 600px;
  width: 500px;
  object-fit: cover;
}

.drinkDetails {
  color: white;
  text-align: left;
  margin-left: 5rem;
  /* float: right;
  position: relative;
  /* place-content: right; */
  margin-top: -15px;
  margin-left: 100px;
  margin-bottom: 100px;
} */

.drinkDetails h3 {
  margin-top: -30px;
}
