
.body-random {
  overflow: hidden;
  color: white;
}


/* _______Page Loader______ */

.loader {
  /* border: 10px solid #f3f3f3; */
  border-radius: 50%;
  border-top: 10px solid #ab0000;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.random-container {
  margin: auto;
  margin-top: -1rem;
  border: red solid 5spx;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'Cinzel', serif;
  background-image: url('../images/bar-drinks2.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  height:100%;
  overflow: hidden;
}
.random-title {
  margin-top: 5rem;
  text-align: center;
  padding: 3px;
}
.drink {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  place-items: center auto;
  width: 1000px;
  margin: auto;
  padding: 5rem;
  background: rgba(71, 68, 68, 0.8);
}
 

/* _______Divider______ */

.divider {								/* minor cosmetics */
  display: table; 
  font-size: 25px; 
  text-align: center; 
  width: 75%; 						/* divider width */
  margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(red));
  background-image: -webkit-linear-gradient(180deg, transparent, red);
  background-image: -moz-linear-gradient(180deg, transparent, red);
  background-image: -o-linear-gradient(180deg, transparent, red);
  background-image: linear-gradient(90deg, transparent, red);
}
.divider span:nth-child(2) {
  color: white; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(transparent));
  background-image: -webkit-linear-gradient(180deg, red, transparent);
  background-image: -moz-linear-gradient(180deg, red, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, red, transparent);
}



.drink img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin: 0rem;
}

.random-ingredients{
margin-bottom: 1.5rem;
/* margin-top: 5rem; */
}

.drinkInfo {
  text-align: left;
  margin-left: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;

}
.tester {
  padding: 1px;
  height: 75px;
}
.rand-ins {
  color: whitesmoke;
}
.random-button {
  background-color: rgba(216,17,17,0.564);
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Philosopher', sans-serif;
  /* margin: 4px 2px; */
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1.5rem;
  width: 10rem;
  margin: 0 auto 3rem auto;
  
}

.random-button:hover {
  transform: scale(1.2);
}
